aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
colorama
discord.py>=2.4.0
frozenlist
idna
jsonschema
jsonschema-specifications
multidict
propcache
psutil
pyrsistent
python-dotenv
referencing
rpds-py
sentry-sdk
urllib3
yarl
